.hexagon {
  width: 200px;
  height: 200px;
  position: relative;
  /* animation-name: myslidein; */
  background-color: red;
  /* animation-duration: 3s; */
  animation: move 3s reverse ease-in forwards;
}

@keyframes move {
  0% {
    left: 100%;
    top: 0;
    border: 0;
    border-radius: 0;
    background-color: blue;
  }

  33% {
    left: 50%;
    top: 500px;
  }

  82% {
    left: 50%;
    top: 0;
  }

  100% {
    left: 0%;
    top: 0;
    border: 10px solid black;
    border-radius: 50px;
    background-color: red;
  }
}
