.container {
  margin: 20px 0 0 20px;
  display: flex;
}

.circle {
  background: #456789;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 10px;
  position: relative;
  animation: circle infinite 1s alternate linear;
}
.square {
  background: #456789;
  height: 30px;
  width: 30px;
  margin: 10px;
  position: relative;
  animation: square 1s 5s backwards;
}
.triangle {
  margin: 10px;
  border-style: solid;
  border-color: transparent transparent #456789 transparent;
  border-width: 0 20px 30px 20px;
  position: relative;
  animation: ease-in-out alternate infinite 2s triangle;
}

@keyframes circle {
  0% {
    top: 0;
  }
  100% {
    top: 100px;
  }
}

@keyframes square {
  0% {
    margin-right: 100%;
  }

  100% {
    right: 0;
  }
}

@keyframes triangle {
  0% {
    top: 0;
    left: 0;
  }

  33% {
    top: 0;
    left: 100px;
  }
  66% {
    top: 100px;
    left: 0;
  }
  99% {
    top: 100px;
    left: 100px;
  }
}
